.container1, .container2{
    border:2px solid blue;
    width: 800px;
    height:100px;
    margin-bottom:10px;
    display:flex;
    flex-wrap:wrap
}
#block-blue, #block-purple{
    width:40px;
    height:40px
}