.container1, .container2{
    border:2px solid blue;
    width: 1000px;
    height:100px;
    margin-bottom:10px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
}
#block-blue, #block-purple{
    width:60px;
    height:60px;
    margin-left:20px;
    margin-right:20px
    }

    #block-blue{
        background-color:blue
    }
    #block-purple{
        background-color:purple
    }
    .container2{
        background-color: orange;
    }